{% extends 'layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}E-Dados{% endblock %}
{% block css%}
<link rel="stylesheet" href={% static "css/styles_relatorio.css" %}> {%endblock %}
{% block conteudo %}

<body>

  <!-- Conteúdo da página -->
  <div class="row border border-break">
    <div class="col-md-12 text-dark">
      <h4 class="font-weight-normal mb-0 mt-3">Sobre:</h4>
      <hr class="mt-0 bg-light" />
      <h6 class="text-dark">{{ menssagem1 }}</h6>
      <h4 class="font-weight-normal mb-0 mt-3">Informações:</h4>
      <hr class="mt-0 bg-light" />
      <h6 class="text-dark">{{ menssagem }}</h6>
    </div>
  </div>
</body>

<!-- /.container-fluid -->
{% endblock %}