{% extends 'layout/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}E-Dados{% endblock %}
{% block css%}
<link rel="stylesheet" href={% static "css/styles_relatorio.css" %}> {%endblock %}
{% block conteudo %}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <!-- Topbar Navbar -->
  <ul class="row col-md-12 navbar-nav">
    <li class="col-md-12 nav-item dropdown ml-2 mr-3 text-center">
      <div id="col-md-12 svg-container">
        <div class="col-md-12 d-flex justify-content-between">
          <a class="col-md-4 av-link collapse-item {%if request.resolver_match.url_name == 'cadastrar_usuario' %}text-dark{% endif %} btn d-flex justify-content-center align-items-center"
            href={% url "cadastrar_usuario" %}>
            <span class="m-0 ml-2 d-none d-lg-inline"> Cadastrar Usuário
              <hr class="m-0  {%if request.resolver_match.url_name == 'cadastrar_usuario' %}bg-dark{% endif %}">
            </span>
          </a>
          <a class="col-md-4 av-link collapse-item btn  {%if request.resolver_match.url_name == 'listar_usuarios' %}text-dark{% endif %} d-flex justify-content-center align-items-center"
            href={% url "listar_usuarios" %}>
            <span class="m-0 ml-2 d-none d-lg-inline"> Listar Usuários
              <hr class="m-0  {%if request.resolver_match.url_name == 'listar_usuarios' %}bg-dark{% endif %}">
            </span>
          </a>
          <a class="col-md-4 av-link collapse-item btn  {%if request.resolver_match.url_name == 'log_de_acesso' %}text-dark{% endif %} d-flex justify-content-center align-items-center"
            href={% url "log_de_acesso" %}>
            <span class="m-0 ml-2 d-none d-lg-inline"> Log de Acesso
              <hr class="m-0  {%if request.resolver_match.url_name == 'log_de_acesso' %}bg-dark{% endif %}">
            </span>
          </a>
        </div>
      </div>
    </li>
  </ul>
</nav>

<body>
  <!-- Conteúdo da página -->
  <div class="row border border-dark">
    <div class="col-md-12 text-dark">{{ correcoes }}
      <hr class="mt-0 bg-dark" />
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

    </div>

    <!-- Page Heading -->
    <form class="col-md-12 mb-3" action="." method="post">
      <div class="row d-flex">
        <div class="col-md-4">
          {% csrf_token %}
          {{ form.nome|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {% csrf_token %}
          {{ form.password|as_crispy_field }}
        </div>
        <div class="col-md-4">
          {% csrf_token %}
          {{ form.email|as_crispy_field }}
        </div>
        <div class="col-md-12">
          {% csrf_token %}
          {{ form.descricao|as_crispy_field }}
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center">
        <div class="col-sm-4 mb-4 d-flex justify-content-end">
          <button type="submit" class="md-3 btn btn-outline-primary">
            Cadastrar Usuário
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-add"
              viewBox="0 0 16 16">
              <path
                d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z" />
              <path
                d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z" />
            </svg>
          </button>
        </div>
      </div>
      <hr class="mt-0" />
    </form>
    <div class="col-md-12 ">
      <h6 class="text-dark d-flex ">{{ menssagem }}</h6>
    </div>
  </div>
</body>

<script>
  setTimeout(function () {
    $('.alert').fadeOut('slow');
  }, 1600);
</script>

<!-- /.container-fluid -->
{% endblock %}