*{
    margin: 0%;
    font-family: "IBM Plex Sans", sans-serif;
}

.relatorio{
    max-height: max-content;
    height: 1000px;
    width: 100%;
}

a:link {
    color: rgb(17, 0, 110);
    text-decoration: none;
  }