{%load static%}
<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="shortcut icon" href={% static "img/logo.svg" %} type="image/x-icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href={% static "css/style-login.css" %}>
</head>

<body>
	<main>
		<form action="" method="POST">
			{%csrf_token%}
			<div class="main-login">
				<div class="left-login text-primary">
					<h1>E-Dados</h1>
					<div class="sidebar-brand-icon">
						<img height="370" src={% static "img/logo.svg" %} fill="white">
					</div>
				</div>
				<div class="right-login">
					<div class="card-login">
						<h1>LOGIN</h1>
						<div class="textfield text-dark">
							<label for="email">Nome</label>
							{{ form.username }}
						</div>
						<div class="textfield">
							<label for="senha">Senha</label>
							{{ form.password }}
						</div>
						<input class="btn-login" id="login-Button" type="submit" name="salvar" value="Entrar">
		</form>

		<form action="" method="POST">
			{%csrf_token%}
			<input class="btn-login" id="login-Button" type="hidden" name="username" value="Convidado">
			<input class="btn-login" id="login-Button" type="hidden" name="password" value="convidado22">
			<input class="btn-convidado" type="submit" name="salvar" value="Entrar como Convidado">
		</form>
		</div>
		</div>
		</div>
	</main>
</body>
<footer>
	<p>© 2023 E-DADOS <br> Desenvolvimento por
		<a href="https://github.com/icaro2222" target="_blank">
			<i class="fab fa-github"></i>IF Baiano</a>
	</p>
</footer>

</html>