{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="shortcut icon" href={% static "img/logo.svg" %} type="image/x-icon">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href={% static "css/style-login.css" %}>
</head>
<body>
	<main>
		<form action="" method="POST">
            {%csrf_token%}
		<div class="main-login">
			<div class="left-login text-primary">
				<h1>E-Dados</h1>
				<div class="sidebar-brand-icon">
                    <img height="370" src={% static "img/logo.svg" %} fill="white">  
                </div>					
			</div>
			<div class="right-login">
				<div class="card-login">
					<h1>LOGIN</h1>
					<div class="textfield text-dark">
						<label for="email">Nome</label>
						{{ form.username }}
		            	<!-- <input type="email" name="email" placeholder="E-mail" autofocus required> -->
					</div>
					<div class="textfield">
						<label for="senha">Senha</label>
						{{ form.password }}
		            	<!-- <input type="password" name="senha" placeholder="Senha" required> -->
					</div>
					<input class="btn-login" id="login-Button" type="submit" name="salvar" value="Entrar">
				</div>
			</div>	
		</div>
	</form>
	</main>
</body>
	<footer>
		<p>© Sistema desenvolvido por 
			<a href="https://github.com/icaro2222" target="_blank">
				<i class="fab fa-github"></i> Ícaro Dias</a>
		</p>
	</footer>
</html>