{% extends 'layout/layout.html' %}
{%load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Desempenho no Exame
{% endblock %}
{% block css %}
<link rel="stylesheet" href={% static "css/styles_relatorio.css" %}>
{% endblock %}
{% block conteudo %}

<!-- Begin Page Content -->
<div class="row text-dark">
  <!-- Page Heading -->
  <form class="col mt-0" action="." method="post">
    <h5 class="m-0 d-flex align-items-center">
      <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 2C0 0.89543 0.895431 0 2 0H10C11.1046 0 12 0.895431 12 2V4H14C15.1046 4 16 4.89543 16 6V14C16 15.1046 15.1046 16 14 16H6C4.89543 16 4 15.1046 4 14V12H2C0.89543 12 0 11.1046 0 10V2ZM5 12V14C5 14.5523 5.44772 15 6 15H14C14.5523 15 15 14.5523 15 14V6C15 5.44772 14.5523 5 14 5H12V10C12 11.1046 11.1046 12 10 12H5ZM11 4V2C11 1.44772 10.5523 1 10 1H2C1.44772 1 1 1.44772 1 2V10C1 10.5523 1.44772 11 2 11H4V6C4 4.89543 4.89543 4 6 4H11Z" fill="black"/>
        </svg>
        <span>Variáveis de contraste e correlação</span>
    </h5>
    <hr class="mt-0 mb-2" />
    <div class="row d-flex">
      <div class="col-md-6">
        {% csrf_token %}
        {{ form.questao|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form.nota|as_crispy_field }}
      </div>
      <div class="col-md-2">
        {% csrf_token %}
        {{ form.ano|as_crispy_field }}
      </div>
    </div>

    <h5 class="mt-0 mb-0 d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel me-2" viewBox="0 0 16 16">
        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
      </svg>
      <span>Filtros</span>
    </h5>
    
    <hr class="mt-0 mb-2" />
    <div class="row d-flex">
      <div class="col-md-2">
        {% csrf_token %}
        {{ form_filtro.sexo|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {% csrf_token %}
        {{ form_filtro.escola|as_crispy_field }}
      </div>
      <div class="col-md-2">
        {% csrf_token %}
        {{ form_filtro.cor|as_crispy_field }}
      </div>
      <div class="col-md-2">
        {% csrf_token %}
        {{ form_filtro.estado_civil|as_crispy_field }}
      </div>
      <div class="col-md-3">
        {% csrf_token %}
        {{ form_filtro.deficiencia|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form_filtro.nacionalidade|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form_filtro.estado|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form_filtro.localizacao_da_escola|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form_filtro.recurso|as_crispy_field }}
      </div>
      <div class="col-md-4">
        {% csrf_token %}
        {{ form_filtro.amostra|as_crispy_field }}
      </div>
      <div class="row col">
        <div class="col d-flex align-items-center justify-content-center">
          <button id="preloader2" type="submit" class="btn btn-outline-primary">
            Gerar Análise
            <svg xmlns="http://www.w3.org/2000/svg" width="86" height="44" fill="currentColor"
              class="bi bi-clipboard-data" viewBox="0 0 16 16">
              <path
                d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
              <path
                d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="loading" id="preloader">
      <h4 class="loading_preloader justify-content-center align-items-center">
        Processar todos os dados pode tornar o processo mais pesado e, por isso, pode levar um tempo para ser concluído.
      </h4>
    </div>
    <hr id="progressbar">
  </form>

</div>


<div class="text-dark rounded border border-dark">


  <div class="col-md-12">
    <h5 class="mt-2 mb-0">{{ menssagem }}</h5>
    <hr class="mt-0 mb-3 bg-dark" />
    <div>
      <h6>
        O número total de alunos após a aplicação do filtro é:
        {{quantidadeParcial}}
      </h6>
      <h6>
        O número total de alunos que se inscreveram no Enem:
        {{quantidadeTotal}}
      </h6>
    </div>
  </div>
  <!-- Relatório em formato de tabelaa percentual -->
  <div class="row">
    <div class="col-md-12">
      <hr class="mt-0 mb-3 bg-dark" />
      <div class="col-md-12">
        {{relatorio_em_tabela|safe}}
      </div>
    </div>
  </div>
  <hr class="mb-3" />
  <div class="row d-flex justify-content-end align-items-center m-3">
    <button id="sidebarToggle" onclick="imprimirComDelay()" type="button"
      class="downloader__btn btn btn-outline-success print-button">
      Baixar o Relatório
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
        <path
          d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
        <path
          d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
      </svg>
    </button>
  </div>
</div>

<script>

  var selectElement = document.getElementById("id_amostra"); // substitua "id_amostra" pelo ID do seu campo de formulário

  // Adicione um ouvinte de eventos para o evento "change" no campo "select"
  selectElement.addEventListener("change", function() {
    var selectedOption = selectElement.options[selectElement.selectedIndex].value;
    
    if (selectedOption == "todos_os_dados") {
      document.getElementById("preloader2").addEventListener("click", function() {
        document.getElementById("preloader").style.display = "block";
      });
    }
  });

</script>
<script src={% static "js/js_formulario.js" %}></script>
<!-- /.container-fluid -->
{% endblock %}