{% extends 'layout/layout.html' %}
{%load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Acertos/Erros por Questões
{% endblock %}
{% block css %}
<link rel="stylesheet" href={% static "css/styles_relatorio.css" %}>
{% endblock %}
{% block conteudo %}

<style>
  @media print {
    body {
      zoom: 0.85;
    }
  }
</style>

<!-- Begin Page Content -->
<div class="row text-dark">
  <!-- Page Heading -->
  <form class="col mt-0" action="." method="post">
    <h5 class="m-0 align-items-center">
      <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0 2C0 0.89543 0.895431 0 2 0H10C11.1046 0 12 0.895431 12 2V4H14C15.1046 4 16 4.89543 16 6V14C16 15.1046 15.1046 16 14 16H6C4.89543 16 4 15.1046 4 14V12H2C0.89543 12 0 11.1046 0 10V2ZM5 12V14C5 14.5523 5.44772 15 6 15H14C14.5523 15 15 14.5523 15 14V6C15 5.44772 14.5523 5 14 5H12V10C12 11.1046 11.1046 12 10 12H5ZM11 4V2C11 1.44772 10.5523 1 10 1H2C1.44772 1 1 1.44772 1 2V10C1 10.5523 1.44772 11 2 11H4V6C4 4.89543 4.89543 4 6 4H11Z" />
      </svg>
      <span>Provas e Questões a Serem Analisadas</span>
    </h5>
    <hr class="mt-0 mb-2" />
    <div class="row mb-3">
      <div id="cor_da_prova_2019" class="col-md-9">
        <div class="col-md-12 d-flex">
          <div class="col-md-4 border ml-2 p-2">
            <div class="m-0"
              title="O termo 'grupo A' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO A', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos A <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>
            <hr class="mt-0 mb-3" />
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.prova1|as_crispy_field }}
            </div>
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.questao1|as_crispy_field }}
            </div>
          </div>
          <div class="col-md-8 border ml-4 p-2">
            <div class="m-0"
              title="O termo 'grupo B' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO B', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos B <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>

            <hr class="mt-0 mb-3" />
            <div class="row">
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova2|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova3|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova4|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao2|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao3|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao4|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="cor_da_prova_2018" class="col-md-9" style="display: none;">
        <div class="col-md-12 d-flex">
          <div class="col-md-4 border ml-2 p-2">
            <div class="m-0"
              title="O termo 'grupo A' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO A', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos A <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>

            <hr class="mt-0 mb-3" />
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.prova1_2018|as_crispy_field }}
            </div>
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.questao1_2018|as_crispy_field }}
            </div>
          </div>
          <div class="col-md-8 border ml-4 p-2">
            <div class="m-0"
              title="O termo 'grupo B' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO B', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos B <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>
            <hr class="mt-0 mb-3" />
            <div class="row">
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova2_2018|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova3_2018|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova4_2018|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao2_2018|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao3_2018|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao4_2018|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cor_da_prova_2017" class="col-md-9" style="display: none;">
        <div class="col-md-12 d-flex">
          <div class="col-md-4 border ml-2 p-2">
            <div class="m-0"
              title="O termo 'grupo A' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO A', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos A <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>
            <hr class="mt-0 mb-3" />
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.prova1_2017|as_crispy_field }}
            </div>
            <div class="col-md-12">
              {% csrf_token %}
              {{ form.questao1_2017|as_crispy_field }}
            </div>
          </div>
          <div class="col-md-8 border ml-4 p-2">
            <div class="m-0"
              title="O termo 'grupo B' neste contexto faz referência ao conjunto de filtros denominado 'GRUPO B', sendo possível associar a prova a um grupo específico de alunos.">
              <h5 class="mb-0">Grupos B <i class="fas fa-info-circle fa-sm"></i></h5>
            </div>

            <hr class="mt-0 mb-3" />
            <div class="row">
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova2_2017|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova3_2017|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.prova4_2017|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao2_2017|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao3_2017|as_crispy_field }}
              </div>
              <div class="col-md-4">
                {% csrf_token %}
                {{ form.questao4_2017|as_crispy_field }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 border ml-5 p-2">
        <h5 class="mb-0">Fatores</h5>
        <hr class="mt-0 mb-3" />
        <div class="col-md-12">
          {% csrf_token %}
          {{ form.acerto_erro|as_crispy_field }}
        </div>
        <div class="col-md-12">
          {% csrf_token %}
          {{ form.ano|as_crispy_field }}
        </div>
      </div>
    </div>

    <h5 class="m-0 align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-funnel me-2"
        viewBox="0 0 16 16">
        <path
          d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
      </svg>
      <span>Filtros</span>
    </h5>
    <hr id="progressbar" class="mt-0 mb-2">
    <div class="row d-flex mb-3">
      <div class="col-md-6">
        <div class="border p-2">
          <h5 class="mb-0">Grupos A</h5>
          <hr class="mt-0 mb-3" />
          <div class="row">
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.deficiencia|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.recurso|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.sexo|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.cor|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_A.estado|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_A.cidade|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_A.estado_civil|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.localizacao_da_escola|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_A.amostra|as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="border p-2">
          <h5 class="mb-0">Grupos B</h5>
          <hr class="mt-0 mb-3" />
          <div class="row">
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.deficiencia|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.recurso|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.sexo|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.cor|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_B.estado|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_B.cidade|as_crispy_field }}
            </div>
            <div class="col-md-4">
              {% csrf_token %}
              {{ form_filtro_grupo_B.estado_civil|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.localizacao_da_escola|as_crispy_field }}
            </div>
            <div class="col-md-6">
              {% csrf_token %}
              {{ form_filtro_grupo_B.amostra|as_crispy_field }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 col-md-12 d-flex align-items-center justify-content-end">
      <button id="preloader2" type="submit" class="btn btn-outline-primary">
        Gerar Análise
        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="44" fill="currentColor" class="bi bi-clipboard-data"
          viewBox="0 0 16 16">
          <path
            d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z" />
          <path
            d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
          <path
            d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z" />
        </svg>
      </button>
    </div>

    <div class="loading" id="preloader">
      <h4 class="loading_preloader justify-content-center align-items-center">
        Aguarde um momento...
      </h4>
    </div>
  </form>
</div>

<div class="text-dark rounded border border-dark">
  <div class="col-md-12">
    <h5 class="mt-2 mb-0 text-dark">{{ menssagem }}</h5>
    <hr class="mt-0 bg-dark" />
    <h6>{{ menssagem_informativa }}</h6>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  var selectElement = document.getElementById("id_grupo_A-estado");
  var selectElementid_grupo_B_estado = document.getElementById("id_grupo_B-estado");
  var estado = selectElement.options[selectElement.selectedIndex].value;
  // Acessar o valor do atributo 'data-filtro-cidade'

  var selectfiltroCidade = document.getElementById("id_grupo_A-cidade");
  var filtroCidade = selectfiltroCidade.value;
  console.log(filtroCidade);
  console.log(estado);

  if (estado !== "todos") {
    console.log(estado);
    // Enviar uma solicitação AJAX para buscar as cidades correspondentes
    $.ajax({
      url: "{% url 'buscar_cidades' %}", // URL para a view Django que irá lidar com a solicitação
      type: 'get',
      data: {
        'estado': estado // Enviar o estado selecionado como parâmetro
      },
      success: function (data) {
        // Limpar as opções atuais do campo de cidade
        $('#id_grupo_A-cidade').empty();
        console.log(filtroCidade);

        // Adicionar as novas opções do campo de cidade com base na resposta recebida
        $.each(data.opcoes_cidades, function (index, cidade) {
          $('#id_grupo_A-cidade').append($('<option></option>').val(cidade[0]).text(cidade[1]));
        });

        // Selecionar no select o campo com o valor da variável 'filtroCidade'
        $('#id_grupo_A-cidade option[value="' + filtroCidade + '"]').prop('selected', true);
      }
    });
  }


  $(document).ready(function () {
    // Capturar o evento de mudança do campo de estado
    $('#id_grupo_A-estado').change(function () {
      var estado = $(this).val(); // Obter o valor do estado selecionado
      console.log(estado)

      // Enviar uma solicitação AJAX para buscar as cidades correspondentes
      $.ajax({
        url: "{% url 'buscar_cidades' %}",  // URL para a view Django que irá lidar com a solicitação
        type: 'get',
        data: {
          'estado': estado // Enviar o estado selecionado como parâmetro
        },
        success: function (data) {
          // Limpar as opções atuais do campo de cidade
          $('#id_grupo_A-cidade').empty();

          // Adicionar as novas opções do campo de cidade com base na resposta recebida
          $.each(data.opcoes_cidades, function (index, cidade) {
            $('#id_grupo_A-cidade').append($('<option></option>').val(cidade[0]).text(cidade[1]));
          });
        }
      });
    });
  });
  var selectElementB = document.getElementById("id_grupo_B-estado");
  var estadoB = selectElementB.options[selectElementB.selectedIndex].value;
  // Acessar o valor do atributo 'data-filtro-cidade'

  var selectfiltroCidade = document.getElementById("id_grupo_A-cidade");
  var filtroCidade = selectfiltroCidade.value;
  console.log(filtroCidade);
  console.log(estadoB);

  if (estadoB !== "todos") {
    console.log(estadoB);
    // Enviar uma solicitação AJAX para buscar as cidades correspondentes
    $.ajax({
      url: "{% url 'buscar_cidades' %}", // URL para a view Django que irá lidar com a solicitação
      type: 'get',
      data: {
        'estado': estadoB // Enviar o estado selecionado como parâmetro
      },
      success: function (data) {
        // Limpar as opções atuais do campo de cidade
        $('#id_grupo_B-cidade').empty();
        console.log(filtroCidade);

        // Adicionar as novas opções do campo de cidade com base na resposta recebida
        $.each(data.opcoes_cidades, function (index, cidade) {
          $('#id_grupo_B-cidade').append($('<option></option>').val(cidade[0]).text(cidade[1]));
        });

        // Selecionar no select o campo com o valor da variável 'filtroCidade'
        $('#id_grupo_B-cidade option[value="' + filtroCidade + '"]').prop('selected', true);
      }
    });
  }


  $(document).ready(function () {
    // Capturar o evento de mudança do campo de estado
    $('#id_grupo_B-estado').change(function () {
      var estadoB = $(this).val(); // Obter o valor do estado selecionado
      console.log(estadoB)

      // Enviar uma solicitação AJAX para buscar as cidades correspondentes
      $.ajax({
        url: "{% url 'buscar_cidades' %}",  // URL para a view Django que irá lidar com a solicitação
        type: 'get',
        data: {
          'estado': estadoB // Enviar o estado selecionado como parâmetro
        },
        success: function (data) {
          // Limpar as opções atuais do campo de cidade
          $('#id_grupo_B-cidade').empty();

          // Adicionar as novas opções do campo de cidade com base na resposta recebida
          $.each(data.opcoes_cidades, function (index, cidade) {
            $('#id_grupo_B-cidade').append($('<option></option>').val(cidade[0]).text(cidade[1]));
          });
        }
      });
    });
  });

  var cor_da_prova_2017 = document.getElementById("cor_da_prova_2017");
  var cor_da_prova_2018 = document.getElementById("cor_da_prova_2018");
  var cor_da_prova_2019 = document.getElementById("cor_da_prova_2019");

  var selectAno = document.getElementById("id_ano");
  selectAno.addEventListener("change", function () {
    var ano = selectAno.value;
    console.log(ano)
    if (ano == 2019) {
      cor_da_prova_2019.style.display = 'block';
      cor_da_prova_2018.style.display = 'none';
      cor_da_prova_2017.style.display = 'none';
    } else if (ano == "2018") {
      cor_da_prova_2019.style.display = 'none';
      cor_da_prova_2018.style.display = 'block';
      cor_da_prova_2017.style.display = 'none';
    } else if (ano == "2017") {
      cor_da_prova_2019.style.display = 'none';
      cor_da_prova_2018.style.display = 'none';
      cor_da_prova_2017.style.display = 'block';
    }
  });


  // Toggle the side navigation
  function imprimirComDelay() {
    setTimeout(function () {
      window.print();
    }, 100);
  }

  window.onload = function geraranalise() {
    var progressbar = document.getElementById("progressbar");
    var width = 0;
    var id = setInterval(frame, 10);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
      } else {
        width++;
        progressbar.style.width = width + '%';
      }
    }
  };

  document.getElementById("progressbar").style.animation = "none";

  document.getElementById("preloader2").addEventListener("click", function () {
    document.getElementById("preloader").style.display = "block";
  });

</script>

<!-- /.container-fluid -->
{% endblock %}